@{
  Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Провайдер</title>
</head>
<body>
  <div style="display: flex; justify-content: center; align-items: center; height: 100vh">
    <h1>@ViewBag.Message</h1>
  </div>
</body>
</html>